<form class="signin-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <mat-form-field class="signin-full-width">
    <input matInput="text" placeholder="Email" ngModel required id="email" name="email"
           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
  </mat-form-field>


  <mat-form-field class="signin-full-width">
    <input matInput="password" type="password" placeholder="Password" ngModel required id="password" name="password">
  </mat-form-field>

  <button class="mat-stroked-button" type="submit" [disabled]="!f.valid">Sign In</button>
</form>

<br>
<br>
<button class="mat-button" style="margin-left: 30%" [routerLink]="['forgotten']">Forgot Password?</button>
<br>
<br>

<router-outlet></router-outlet>



