<form [formGroup]="parkingZoneForm" (ngSubmit)="onSubmit()" class="edit-zone">

  <div class="form-group row">
    <label for="id" class="col-sm-2 col-form-label"><strong>ID:</strong></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="id" formControlName="id">
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label"><strong>Ime zone:</strong></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" formControlName="name">
    </div>
  </div>
  <div class="form-group row">
    <label for="phone" class="col-sm-2 col-form-label"><strong>Broj telefona:</strong></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="phone" formControlName="phone">
    </div>
  </div>
  <div class="form-group row">
    <label for="amount" class="col-sm-2 col-form-label"><strong>Cijena:</strong></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="amount" formControlName="amount">
    </div>
  </div>
  <div class="form-group row">
    <label for="currency" class="col-sm-2 col-form-label"><strong>Valuta:</strong></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="currency" formControlName="currency">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 btns">
      <button mat-raised-button color="warn" type="submit" class="btn" [disabled]="!parkingZoneForm.valid">Spermi</button>
      <button mat-raised-button color="accent" class="" (click)="onCancel()">Odustani</button>
      <button mat-raised-button class=" btnc crveni" (click)="onDelete()">Izbriši</button>
    </div>
  </div>

</form>