<div class="row">
  <div class="col-3 navbar-left">
    <button class="move" mat-raised-button color="primary" [routerLink]="['new']">Dodaj zonu</button>
    <div class="nav flex-column nav-pills move" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <ul class="list-group nav-link">
        <app-existing-zone *ngFor="let zone of zones; let i = index" [existingZone]="zone" [inListID]="i"></app-existing-zone>
      </ul>
    </div>
  </div>
  <div class="col-9 content-right">
    <div class="tab-content" id="v-pills-tabContent">
      <router-outlet></router-outlet>
    </div>
  </div>