.example-icon {
    padding: 0 30px;
  }

  .example-icon-mod {
    padding: 8px 30px;
    color: azure;
  }
  .example-icon-menu {
    padding: 0 30px 8px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }



  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%  !important;
}

agm-map {
  height: 350px;
}

.map{
  width: 100%;
  height: 50%;
}
