<mat-toolbar color="primary" class="fixed-header" *ngIf="currentUser">
  <span><a style="text-decoration: none; color: white" [routerLink]="['/']"><strong> PARK ME FER</strong></a></span>
  <!-- <button [routerLink]="['/signin']" routerLinkActive="router-link-active" class="mat-button">Sign in</button> -->
  <!--  <button [routerLink]="['/editProfile/1']" routerLinkActive="router-link-active" class="mat-button">EditProfile</button> -->
  

  <span class="example-spacer"></span>
  <button class="example-icon" mat-raised-button color="warn" [routerLink]="['/zones']" routerLinkActive="router-link-active">Parkirne zone</button>
  
  <a [routerLink]="['/moderator']" routerLinkActive="router-link-active" *ngIf="isAdmin">
    <mat-icon class="example-icon-mod">build</mat-icon>
  </a>
  <!-- <a (click)="logout()">
    <mat-icon class="example-icon">cancel</mat-icon>
  </a> -->

  <button mat-icon-button class="example-icon-menu" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item (click)="logout()">Odjava</button>
  </mat-menu>

</mat-toolbar>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<!-- <agm-map [latitude]="lat" [longitude]="lng" *ngIf="currentUser">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->

<!-- <div id="map" class="map"></div> -->

<router-outlet></router-outlet>