<h2 mat-dialog-title>Novi parking</h2>
<mat-dialog-content class="mat-typography">
    <agm-map [latitude]="lat" [longitude]="lng" style="height:150px">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Add</button>
</mat-dialog-actions>