<h2 mat-dialog-title>Unesite podatke o senzoru</h2>
<mat-dialog-content class="mat-typography">
    <p>Latitude</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.sensor.latitude">
  </mat-form-field>

  <p>Longitude</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.sensor.longitude">
  </mat-form-field>

  <!-- <p>occupied</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.sensor.occupied">
  </mat-form-field> -->
  
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Odustani</button>
    <button mat-button [mat-dialog-close]="data.sensor" cdkFocusInitial>Dodaj</button>
</mat-dialog-actions>