<div id="map" class="map"></div>

<div class="grid-container">

  <mat-toolbar color="primary">
    <app-dialog></app-dialog>
  </mat-toolbar>

  <!-- <app-map-dialog></app-map-dialog> -->
  <!-- <button mat-button (click)="getUser()">test</button> -->
  <!--  -->
  <mat-grid-list cols="3" rowHeight="400px">
    <mat-grid-tile *ngFor="let parking of parkings; let i = index" [colspan]="size" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header color="primary">
          <mat-card-title>
            <h3>{{parking.name}}</h3>
            <mat-slide-toggle color="accent" class="slideToggle" [checked]=parking.enabled (click)="onToggle(i)"></mat-slide-toggle>
            <button class="parkirnaMjesta" mat-raised-button color="warn" routerLink="details/{{parking.id}}">Parkirna
              mjesta</button>
              <button class="naplatni" mat-raised-button color="warn" routerLink="paying/{{parking.id}}">Naplatni uređaji</button>

            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon color="warn">edit</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="onClick(i)">Uredi</button>
              <button mat-menu-item (click)="onDelete(i)">Izbriši</button>
            </mat-menu>

          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!--  -->
          <mat-grid-list cols="2" rowHeight="120px">
            <mat-grid-tile [colspan]="" [rowspan]="2">
              <div>
                <p>Parking ID: ({{parking.id}})</p>
                <h3>{{parking.zoneId}}. zona</h3>
                <h6>Geografske koordinate:</h6>
                <ng-container *ngIf="(size===3); else elseTemplate">
                  <p> Širina: {{parking.latitude}} Dužina: {{parking.longitude}}</p>
                </ng-container>
                <ng-template #elseTemplate>
                  <span> Širina: {{parking.latitude}}</span><br>
                  <span>Dužina: {{parking.longitude}}</span>
                </ng-template>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="2">
              <mat-card class="progres">
                <mat-card-content>

                  <h2 class="example-h2">Popunjenost</h2>
                  <p>Ukupno mjesta: {{parking.maxSpaces}}</p>
                  <mat-progress-spinner class="example-margin" [color]="'primary'" [mode]="'determinate'" [value]="(parking.occupiedSpaces/parking.maxSpaces)*100">
                  </mat-progress-spinner>
                  <p>Zauzeta mjesta: {{parking.occupiedSpaces}}</p>
                </mat-card-content>
              </mat-card>

            </mat-grid-tile>
          </mat-grid-list>
          <!--  -->
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>