.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 15px;
  right: 20px;
}

.dashboard-card-content {
  text-align: center;
}

.example-margin {
  margin: 0 10px;
}

.example-h2 {
  margin: 10px;
}

agm-map {
  height: 350px;
}

.lista{
  background: #868585;
}

.dashboard-title{
  background: rgb(44, 12, 121);
}

.parkirnaMjesta{
  position: relative;
  left: 0px;
}

.slideToggle{
  position: absolute;
  top: 25px;
  right: 80px;
}

.header{
}

.progres{
  position: absolute;
  top: 10px;
}

.map{
  width: 100%;
  height: 50%;
}

.naplatni{
  position: relative;
  left: 5%;
}