<div class="grid-container">
  <mat-grid-list cols="1" rowHeight="250px">
    <mat-grid-tile *ngFor="let user of users; let i = index" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
           <strong>{{user.name}} {{user.surname}}</strong>
            <button color="warn" mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>edit</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <!-- <button mat-menu-item>Expand</button> -->
              <button mat-menu-item (click)="onDelete(i)">Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <h4>Email: {{user.email}}</h4>
          <h5>Role: Admin</h5>
          <h5>ID: ({{user.ID}})</h5>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
